In [98]:
import pandas as pd

In [99]:
#Reading the original data
Res = pd.read_csv('data.csv', encoding = 'unicode_escape')
Res

,Details,Address,Price,NumberOfBedrooms,NumberOfBathrooms,NumberOfToilets,NumberOfCarSpace
0,A Beautiful home with so much to offer!,"Mondeor, 183 Colworth","R1,749,000",3 Bedrooms,3 Bathrooms,3 Total toilets,3 Garage car spaces
1,Designed for Worry-free Living.,Equestria,"R1,440,000",2 Bedrooms,1 Bathroom,0,0
2,Well Positioned Plot in Popular Kelderhof with...,"Kelderhof Country Village, 1 Livingstone Road","R1,250,000",0,0,0,0
3,"""Towering Townhouse"" direct beach access",Keurboomstrand,UNDER OFFER,2 Bedrooms,2 Bathrooms,2 Total toilets,1 Garage
4,Neat beautiful Home,Ridgeway,"R1,400,000",3 Bedrooms,2 Bathrooms,2 Total toilets,0
...,...,...,...,...,...,...,...
13214,A beautiful home with little maintainace,Selcourt,"R1,300,000",4 Bedrooms,2 Bathrooms,3 Total toilets,2 Garage car spaces
13215,Superb locality....buy direct from developer!!!,Magalieskruin,"R2,622,421",3 Bedrooms,3 Bathrooms,4 Total toilets,2 Garage car spaces
13216,Beautiful property and perfect to raise your k...,Selcourt,"R1,350,000",3 Bedrooms,2 Bathrooms,4 Total toilets,2 Garage car spaces
13217,New Release,Arcadia,"R160,000",2 Bedrooms,1 Bathroom,0,0
13218,"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,"R1,380,000",2 Bedrooms,2 Bathrooms,0,0

In [100]:
#To get details of the data to check what optimizations could be carried out to reduce memory
Res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13219 entries, 0 to 13218
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Details            13219 non-null  object
 1   Address            13219 non-null  object
 2   Price              13216 non-null  object
 3   NumberOfBedrooms   13219 non-null  object
 4   NumberOfBathrooms  13219 non-null  object
 5   NumberOfToilets    13219 non-null  object
 6   NumberOfCarSpace   13219 non-null  object
dtypes: object(7)
memory usage: 723.0+ KB

In [102]:
#Renaming some of the column names
Res.columns = ['Description', 'Address', 'Price(Rands)', 'Bedrooms', 'Bathrooms', 'Toilets', 'Garage']

In [103]:
Res

,Description,Address,Price(Rands),Bedrooms,Bathrooms,Toilets,Garage
0,A Beautiful home with so much to offer!,"Mondeor, 183 Colworth","R1,749,000",3 Bedrooms,3 Bathrooms,3 Total toilets,3 Garage car spaces
1,Designed for Worry-free Living.,Equestria,"R1,440,000",2 Bedrooms,1 Bathroom,0,0
2,Well Positioned Plot in Popular Kelderhof with...,"Kelderhof Country Village, 1 Livingstone Road","R1,250,000",0,0,0,0
3,"""Towering Townhouse"" direct beach access",Keurboomstrand,UNDER OFFER,2 Bedrooms,2 Bathrooms,2 Total toilets,1 Garage
4,Neat beautiful Home,Ridgeway,"R1,400,000",3 Bedrooms,2 Bathrooms,2 Total toilets,0
...,...,...,...,...,...,...,...
13214,A beautiful home with little maintainace,Selcourt,"R1,300,000",4 Bedrooms,2 Bathrooms,3 Total toilets,2 Garage car spaces
13215,Superb locality....buy direct from developer!!!,Magalieskruin,"R2,622,421",3 Bedrooms,3 Bathrooms,4 Total toilets,2 Garage car spaces
13216,Beautiful property and perfect to raise your k...,Selcourt,"R1,350,000",3 Bedrooms,2 Bathrooms,4 Total toilets,2 Garage car spaces
13217,New Release,Arcadia,"R160,000",2 Bedrooms,1 Bathroom,0,0
13218,"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,"R1,380,000",2 Bedrooms,2 Bathrooms,0,0

In [104]:
#Removing the 'R'in the prices and dropping all 'Nan' values
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('R', '' )
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace(',', '')
Res.drop(3, inplace= True)
Res.dropna(subset= ['Price(Rands)'], inplace = True)

In [105]:
Res

,Description,Address,Price(Rands),Bedrooms,Bathrooms,Toilets,Garage
0,A Beautiful home with so much to offer!,"Mondeor, 183 Colworth",1749000,3 Bedrooms,3 Bathrooms,3 Total toilets,3 Garage car spaces
1,Designed for Worry-free Living.,Equestria,1440000,2 Bedrooms,1 Bathroom,0,0
2,Well Positioned Plot in Popular Kelderhof with...,"Kelderhof Country Village, 1 Livingstone Road",1250000,0,0,0,0
4,Neat beautiful Home,Ridgeway,1400000,3 Bedrooms,2 Bathrooms,2 Total toilets,0
5,Luxury met Tranquility!,"Langebaan Country Estate, 1191 Dolphyn Close",3295000,3 Bedrooms,2.5 Bathrooms,3 Total toilets,2 Garage car spaces
...,...,...,...,...,...,...,...
13214,A beautiful home with little maintainace,Selcourt,1300000,4 Bedrooms,2 Bathrooms,3 Total toilets,2 Garage car spaces
13215,Superb locality....buy direct from developer!!!,Magalieskruin,2622421,3 Bedrooms,3 Bathrooms,4 Total toilets,2 Garage car spaces
13216,Beautiful property and perfect to raise your k...,Selcourt,1350000,3 Bedrooms,2 Bathrooms,4 Total toilets,2 Garage car spaces
13217,New Release,Arcadia,160000,2 Bedrooms,1 Bathroom,0,0
13218,"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,1380000,2 Bedrooms,2 Bathrooms,0,0

In [ ]:
## To replace rows in the 'price' column which contains strings into an empty string

In [106]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Bidding to start from', '')

In [107]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('!!! Live Auction!', '')

In [108]:
#
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('POA', '')

In [109]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('plus VA', '')

In [110]:
#
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Price on Applicati', '')

In [111]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Price by Negotiation over', '')

In [113]:
#
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('SERIOUS SELLER', '')

In [114]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('From', '')

In [115]:
#
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Price by Negotiati', '')

In [116]:
#
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Auction 31 Mar 2021', '')

In [117]:
#
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Under O', '')

In [118]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('SOL', '')

In [119]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('REDUCE', '')

In [120]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Welcoming O', '')

In [121]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Auction 15 Jul 2021', '')

In [122]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Auction 22 Jul 2021', '')

In [123]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('FROM', '')

In [124]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Auction 08 Jul 2021', '')

In [125]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Priced From', '')

In [126]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Offers form', '')

In [127]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Auction 30 Jul 2021', '')

In [128]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('SOLD BY HARCOURTS', '')

In [129]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('SALE IN PROGRESS HARCOURTS', '')

In [130]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('Back on the Market!', '')

In [131]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('PRICE REDUCE', '')

In [132]:
Res['Price(Rands)'] = Res['Price(Rands)'].str.replace('RANSACTION IN PROGRESS', '')

In [133]:
Res

,Description,Address,Price(Rands),Bedrooms,Bathrooms,Toilets,Garage
0,A Beautiful home with so much to offer!,"Mondeor, 183 Colworth",1749000,3 Bedrooms,3 Bathrooms,3 Total toilets,3 Garage car spaces
1,Designed for Worry-free Living.,Equestria,1440000,2 Bedrooms,1 Bathroom,0,0
2,Well Positioned Plot in Popular Kelderhof with...,"Kelderhof Country Village, 1 Livingstone Road",1250000,0,0,0,0
4,Neat beautiful Home,Ridgeway,1400000,3 Bedrooms,2 Bathrooms,2 Total toilets,0
5,Luxury met Tranquility!,"Langebaan Country Estate, 1191 Dolphyn Close",3295000,3 Bedrooms,2.5 Bathrooms,3 Total toilets,2 Garage car spaces
...,...,...,...,...,...,...,...
13214,A beautiful home with little maintainace,Selcourt,1300000,4 Bedrooms,2 Bathrooms,3 Total toilets,2 Garage car spaces
13215,Superb locality....buy direct from developer!!!,Magalieskruin,2622421,3 Bedrooms,3 Bathrooms,4 Total toilets,2 Garage car spaces
13216,Beautiful property and perfect to raise your k...,Selcourt,1350000,3 Bedrooms,2 Bathrooms,4 Total toilets,2 Garage car spaces
13217,New Release,Arcadia,160000,2 Bedrooms,1 Bathroom,0,0
13218,"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,1380000,2 Bedrooms,2 Bathrooms,0,0

In [134]:
#To extract only the number in the bedrooms, bathrooms, toilets and garage columns and convert 
#them to intgers or foat as the case may be

Res['Bedrooms']=Res['Bedrooms'].str.split(' ').str.get(0). astype('int')

In [135]:
Res

,Description,Address,Price(Rands),Bedrooms,Bathrooms,Toilets,Garage
0,A Beautiful home with so much to offer!,"Mondeor, 183 Colworth",1749000,3,3 Bathrooms,3 Total toilets,3 Garage car spaces
1,Designed for Worry-free Living.,Equestria,1440000,2,1 Bathroom,0,0
2,Well Positioned Plot in Popular Kelderhof with...,"Kelderhof Country Village, 1 Livingstone Road",1250000,0,0,0,0
4,Neat beautiful Home,Ridgeway,1400000,3,2 Bathrooms,2 Total toilets,0
5,Luxury met Tranquility!,"Langebaan Country Estate, 1191 Dolphyn Close",3295000,3,2.5 Bathrooms,3 Total toilets,2 Garage car spaces
...,...,...,...,...,...,...,...
13214,A beautiful home with little maintainace,Selcourt,1300000,4,2 Bathrooms,3 Total toilets,2 Garage car spaces
13215,Superb locality....buy direct from developer!!!,Magalieskruin,2622421,3,3 Bathrooms,4 Total toilets,2 Garage car spaces
13216,Beautiful property and perfect to raise your k...,Selcourt,1350000,3,2 Bathrooms,4 Total toilets,2 Garage car spaces
13217,New Release,Arcadia,160000,2,1 Bathroom,0,0
13218,"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,1380000,2,2 Bathrooms,0,0

In [136]:
Res['Bathrooms']=Res['Bathrooms'].str.split(' ').str.get(0). astype('float')

In [137]:
Res

,Description,Address,Price(Rands),Bedrooms,Bathrooms,Toilets,Garage
0,A Beautiful home with so much to offer!,"Mondeor, 183 Colworth",1749000,3,3.0,3 Total toilets,3 Garage car spaces
1,Designed for Worry-free Living.,Equestria,1440000,2,1.0,0,0
2,Well Positioned Plot in Popular Kelderhof with...,"Kelderhof Country Village, 1 Livingstone Road",1250000,0,0.0,0,0
4,Neat beautiful Home,Ridgeway,1400000,3,2.0,2 Total toilets,0
5,Luxury met Tranquility!,"Langebaan Country Estate, 1191 Dolphyn Close",3295000,3,2.5,3 Total toilets,2 Garage car spaces
...,...,...,...,...,...,...,...
13214,A beautiful home with little maintainace,Selcourt,1300000,4,2.0,3 Total toilets,2 Garage car spaces
13215,Superb locality....buy direct from developer!!!,Magalieskruin,2622421,3,3.0,4 Total toilets,2 Garage car spaces
13216,Beautiful property and perfect to raise your k...,Selcourt,1350000,3,2.0,4 Total toilets,2 Garage car spaces
13217,New Release,Arcadia,160000,2,1.0,0,0
13218,"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,1380000,2,2.0,0,0

In [138]:
Res['Toilets']=Res['Toilets'].str.split(' ').str.get(0). astype('int')

In [139]:
Res

,Description,Address,Price(Rands),Bedrooms,Bathrooms,Toilets,Garage
0,A Beautiful home with so much to offer!,"Mondeor, 183 Colworth",1749000,3,3.0,3,3 Garage car spaces
1,Designed for Worry-free Living.,Equestria,1440000,2,1.0,0,0
2,Well Positioned Plot in Popular Kelderhof with...,"Kelderhof Country Village, 1 Livingstone Road",1250000,0,0.0,0,0
4,Neat beautiful Home,Ridgeway,1400000,3,2.0,2,0
5,Luxury met Tranquility!,"Langebaan Country Estate, 1191 Dolphyn Close",3295000,3,2.5,3,2 Garage car spaces
...,...,...,...,...,...,...,...
13214,A beautiful home with little maintainace,Selcourt,1300000,4,2.0,3,2 Garage car spaces
13215,Superb locality....buy direct from developer!!!,Magalieskruin,2622421,3,3.0,4,2 Garage car spaces
13216,Beautiful property and perfect to raise your k...,Selcourt,1350000,3,2.0,4,2 Garage car spaces
13217,New Release,Arcadia,160000,2,1.0,0,0
13218,"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,1380000,2,2.0,0,0

In [140]:
Res['Garage']=Res['Garage'].str.split(' ').str.get(0). astype('int')

In [141]:
Res

,Description,Address,Price(Rands),Bedrooms,Bathrooms,Toilets,Garage
0,A Beautiful home with so much to offer!,"Mondeor, 183 Colworth",1749000,3,3.0,3,3
1,Designed for Worry-free Living.,Equestria,1440000,2,1.0,0,0
2,Well Positioned Plot in Popular Kelderhof with...,"Kelderhof Country Village, 1 Livingstone Road",1250000,0,0.0,0,0
4,Neat beautiful Home,Ridgeway,1400000,3,2.0,2,0
5,Luxury met Tranquility!,"Langebaan Country Estate, 1191 Dolphyn Close",3295000,3,2.5,3,2
...,...,...,...,...,...,...,...
13214,A beautiful home with little maintainace,Selcourt,1300000,4,2.0,3,2
13215,Superb locality....buy direct from developer!!!,Magalieskruin,2622421,3,3.0,4,2
13216,Beautiful property and perfect to raise your k...,Selcourt,1350000,3,2.0,4,2
13217,New Release,Arcadia,160000,2,1.0,0,0
13218,"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,1380000,2,2.0,0,0

In [142]:
#After converting the values in the bedroom, bathroom, toilet and garage column into 
#float/int, the file size of the data was seen to reduce by about 7%

Res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13215 entries, 0 to 13218
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Description   13215 non-null  object
 1   Address       13215 non-null  object
 2   Price(Rands)  13215 non-null  object
 3   Bedrooms      13215 non-null  int32
 4   Bathrooms     13215 non-null  float64
 5   Toilets       13215 non-null  int32
 6   Garage        13215 non-null  int32
dtypes: float64(1), int32(3), object(3)
memory usage: 671.1+ KB

In [147]:
# Converting the residential description and address as index
Res= Res.set_index(keys = ['Description', 'Address'])

In [148]:
Res

,,Price(Rands),Bedrooms,Bathrooms,Toilets,Garage
Description,Address,,,,,
A Beautiful home with so much to offer!,"Mondeor, 183 Colworth",1749000,3,3.0,3,3
Designed for Worry-free Living.,Equestria,1440000,2,1.0,0,0
Well Positioned Plot in Popular Kelderhof with Approved Plan,"Kelderhof Country Village, 1 Livingstone Road",1250000,0,0.0,0,0
Neat beautiful Home,Ridgeway,1400000,3,2.0,2,0
Luxury met Tranquility!,"Langebaan Country Estate, 1191 Dolphyn Close",3295000,3,2.5,3,2
...,...,...,...,...,...,...
A beautiful home with little maintainace,Selcourt,1300000,4,2.0,3,2
Superb locality....buy direct from developer!!!,Magalieskruin,2622421,3,3.0,4,2
Beautiful property and perfect to raise your kids.,Selcourt,1350000,3,2.0,4,2
New Release,Arcadia,160000,2,1.0,0,0
"2 Bedroom, 2 Bathroom apartment on Diaz beach..",Diaz Beach,1380000,2,2.0,0,0

In [151]:
Res.to_csv('data2.csv', index= True, header=True)